<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>driverName</param-name>
        <param-value/>
    </context-param>
    <listener>
        <listener-class>utils.Log4jListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ValidateAdmin</servlet-name>
        <servlet-class>controllers.ValidateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminPage</servlet-name>
        <servlet-class>controllers.LoadAdminPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateStudent</servlet-name>
        <servlet-class>controllers.ValidateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadStudent</servlet-name>
        <servlet-class>controllers.LoadStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateTutor</servlet-name>
        <servlet-class>controllers.ValidateTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTutor</servlet-name>
        <servlet-class>controllers.LoadTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>commands.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>commands.FrontServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentController</servlet-name>
        <servlet-class>controllers.StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionController</servlet-name>
        <servlet-class>controllers.QuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocController</servlet-name>
        <servlet-class>controllers.DocController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoController</servlet-name>
        <servlet-class>controllers.VideoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVideoController</servlet-name>
        <servlet-class>controllers.AddVideoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDocController</servlet-name>
        <servlet-class>controllers.AddDocController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateAdmin</servlet-name>
        <url-pattern>/ValidateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminPage</servlet-name>
        <url-pattern>/LoadAdminPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateStudent</servlet-name>
        <url-pattern>/ValidateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadStudent</servlet-name>
        <url-pattern>/LoadStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateTutor</servlet-name>
        <url-pattern>/ValidateTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTutor</servlet-name>
        <url-pattern>/LoadTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/FrontServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentController</servlet-name>
        <url-pattern>/StudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionController</servlet-name>
        <url-pattern>/QuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocController</servlet-name>
        <url-pattern>/DocController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoController</servlet-name>
        <url-pattern>/VideoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVideoController</servlet-name>
        <url-pattern>/AddVideoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDocController</servlet-name>
        <url-pattern>/AddDocController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
